* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu {
    background: orange;
    display: table;
    width: 100%;
}

#menu ul {
    list-style: none;
}

#menu ul li{
    display: inline;
}

#menu ul li a {
    font: 13px verdana, arial, tahoma, sans-serif;
    color: black;
    background: orange;
    text-decoration: none;
    float: left;
    padding: 5px;
    margin-left: 1px;
}

#menu ul li a:hover {
    color: orange;
    background: black;
}