@font-face{
    font-family: mandinga;
    src:url('MANDINGA.woff');
}

body{
    margin: 20px;
    text-align: center;
    background-color: #6642aa;
}

.pagcompleta{
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    position: relative;
    top: 40px;
    padding: 20px 20px;
    background-color: #141414;
}
h1,h2{
    font-size: 40px;
    color: #ffffff;
    font-family: mandinga;
}
p,ul{
    font-family: mandinga;
    font-size: 25px;
    color: #ffffff;
}
.contato p{
    
    text-align: center;
    padding-right: 20px;
    padding-top: 0px;
    margin: 0px;
    font-size: 20px;   
}
.contato a{
    text-decoration: none;
    color:rgb(255, 0, 0);
}
.botao{
    background: none;
    border: 2px solid white;
    color: rgb(235, 250, 250)   ;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    margin: 12px 0 ;
}
.botao:hover{
    background-color: #ec1f1f;
    transition-duration: 0.4s;
}


