.div1 {
    width: 400px;
    height: 20px;
    border: 1px solid black;
    padding: 4px;
    background-color: gray;
}
.div2 {
    width: 400px;
    height: 150px;
    border: 1px solid black;
    padding: 4px;
}   
#div3 {
    text-align: center;
}

#button {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    color: blue;
}
.campo {
    background-color: yellow;
    border-style: dotted;
    border-color: red;
    margin: 3px;
}

#nome {
    width: 325px;
}