* {
    background-color:gray;
    font-family: Arial;
    text-align: center;
    }
   
p  {
    border: 2px  solid black; 
    padding: 10px;
    width: 400px;
    font-size: 20px;
    text-align: center;
    margin-left: 250px;
    margin-top: 10px;
    background-color: rgb(33, 41, 24);
    } 

body{
    background-color:dimgray ;
    border: 2px solid black ;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    
}  

h1{
    width: 300px;
    margin-left: 300px;
    background-color: darkslategrey;

}